*{
    box-sizing: border-box;
}



.pri-nav ul{
    display:flex;
    gap:20px;
    list-style: none;
    margin:0;
    padding:0;
}
.pri-nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.pri-nav a{
    text-decoration: none;
}
.pri-nav a:hover, 
.pri-nav a:focus-visible{
    color: green;

}
.logo,.logo:hover,.logo:focus-visible{
    text-align: center;
    color:blueviolet;

}
.slider{
    overflow: hidden;
}
.slider figure{
    position: relative;
    width:500%;
    margin:0;
    left:0;
    animation:20s slider infinite;
}
.slider figure img{
    display:block;
    max-inline-size:100%;
    float:left;
    width:20%;
    height:2%;
    margin:0;
    padding:0;
    
}
@keyframes slider {
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
          left:-400%;
    }
}

.about img{
    width:150px;
    height:150px;
    
}
.about {
    display:grid;
    gap:5px;
    grid-template-columns: 1fr 1fr;
    border:2px solid black;
    margin-block-end: 5px;
    background-color: bisque;
    
}
.sub-nam{
    display:flex;
    flex-direction: column;
}
footer{
    border:1px solid rgb(0, 0, 0);
    background-color: rgb(133, 157, 205);
}
.adm1{
    border:3px solid green;
    display:grid;
    gap:5px;
    grid-template-columns: 1fr 1fr;
    margin-block-end: 20px;
    background-color: bisque;
    

}
.adm1 img{
    width:200px;
    height:200px;
}